<%- include('./partials/header')%>

<section id="newsletter">
    
    <div id="informaNews">
    <p><strong><%=nomeC%></strong> Em breve entraremos em contato com você!!</p>
    </div>
    </section>

<%- include('./partials/footer')%>