<%- include('./partials/header')%>

<section id="newsletter">
    
<div id="informaNews">
<p>Agora <strong><%=nomeNews%></strong> você recebera nossas novidades!!</p>
</div>
</section>

<%- include('./partials/footer')%>