<%- include('./partials/header')%>

<section id="error">
    <div class="row">
        <h1>404</h1>
        <h2>Pagina nao encontrada</h2>
        <p>A página que você está bucando não existe</p>
        <a href="/" class="button-secondary"></a>
    </div>
</section>

<%- include('./partials/footer')%>